In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import OneHotEncoder

!pip install mlxtend==0.23.1

Collecting mlxtend==0.23.1
  Obtaining dependency information for mlxtend==0.23.1 from https://files.pythonhosted.org/packages/1c/07/512f6a780239ad6ce06ce2aa7b4067583f5ddcfc7703a964a082c706a070/mlxtend-0.23.1-py3-none-any.whl.metadata
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend==0.23.1) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend==0.23.1) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.23.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend==0.23.1) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend==0.23.1) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend==0.23.1) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.4 MB 393.8 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.4 MB 409.6 kB/s eta 0:00:04
   --- ------------------------------------ 0.1/1.4 MB 194.9 kB/s eta 0:00:07
   --- ------------------------------------ 0.1/1.4 MB 218.6 kB/s eta 0:00:06
   --- ------------------------------------ 0.1/1.4 MB 218.6 kB/s eta 0:00:06
   ---- ----------------------------------- 0.2/1.4 MB 203.9 kB/s eta 0:00:07
   ---- ----------------------------------- 0.2/1.4 MB 203.9 kB/s eta 0:00:07
   ---- ----------------------------------- 0.2/1.4 MB 201.8 kB/s eta 0:00:07
   ----- ---------------------------------- 0.2/1.4 MB 218.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.2/1.4 MB 218.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.2/1.4 MB 218.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.2/1.4 MB 218.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.2/1.4 MB 218.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.2/1.4 MB 218.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.2/1.4 MB 170.7 kB/s eta 0:00:08
   ------- -------------------------------- 0.3/1.4 MB 227.2 kB/s eta 0:00:06
   ------- -------------------------------- 0.3/1.4 MB 227.0 kB/s eta 0:00:06
   -------- ------------------------------- 0.3/1.4 MB 234.8 kB/s eta 0:00:05
   -------- ------------------------------- 0.3/1.4 MB 234.8 kB/s eta 0:00:05
   -------- ------------------------------- 0.3/1.4 MB 226.0 kB/s eta 0:00:06
   --------- ------------------------------ 0.3/1.4 MB 235.7 kB/s eta 0:00:05
   --------- ------------------------------ 0.3/1.4 MB 235.7 kB/s eta 0:00:05
   --------- ------------------------------ 0.4/1.4 MB 232.1 kB/s eta 0:00:05
   ---------- ----------------------------- 0.4/1.4 MB 242.6 kB/s eta 0:00:05
   ----------- ---------------------------- 0.4/1.4 MB 241.8 kB/s eta 0:00:05
   ----------- ---------------------------- 0.4/1.4 MB 249.8 kB/s eta 0:00:05
   ------------ --------------------------- 0.5/1.4 MB 258.6 kB/s eta 0:00:04
   ------------ --------------------------- 0.5/1.4 MB 258.6 kB/s eta 0:00:04
   ------------ --------------------------- 0.5/1.4 MB 258.7 kB/s eta 0:00:04
   ------------ --------------------------- 0.5/1.4 MB 258.7 kB/s eta 0:00:04
   -------------- ------------------------- 0.5/1.4 MB 270.9 kB/s eta 0:00:04
   -------------- ------------------------- 0.5/1.4 MB 271.7 kB/s eta 0:00:04
   -------------- ------------------------- 0.5/1.4 MB 271.7 kB/s eta 0:00:04
   --------------- ------------------------ 0.6/1.4 MB 274.4 kB/s eta 0:00:04
   ---------------- ----------------------- 0.6/1.4 MB 278.1 kB/s eta 0:00:04
   ---------------- ----------------------- 0.6/1.4 MB 286.5 kB/s eta 0:00:03
   ----------------- ---------------------- 0.6/1.4 MB 292.3 kB/s eta 0:00:03
   ------------------ --------------------- 0.7/1.4 MB 297.5 kB/s eta 0:00:03
   ------------------- -------------------- 0.7/1.4 MB 304.9 kB/s eta 0:00:03
   ------------------- -------------------- 0.7/1.4 MB 309.8 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.4 MB 321.2 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.4 MB 323.4 kB/s eta 0:00:03
   ---------------------- ----------------- 0.8/1.4 MB 329.8 kB/s eta 0:00:02
   ---------------------- ----------------- 0.8/1.4 MB 329.8 kB/s eta 0:00:02
   ----------------------- ---------------- 0.9/1.4 MB 337.9 kB/s eta 0:00:02
   ------------------------ --------------- 0.9/1.4 MB 339.7 kB/s eta 0:00:02
   ------------------------- -------------- 0.9/1.4 MB 351.1 kB/s eta 0:00:02
   ------------------------- -------------- 0.9/1.4 MB 353.0 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.4 MB 361.7 kB/s eta 0:00:02
   --------------------------- ------------ 1.0/1.4 MB 362.9 kB/s eta 0:00:02
   ---------------------------- ----------- 1.0/1.4 MB 367.8 kB/s eta 0:00:02
   ----------------------------- ---------- 1.1/1.4 MB 374.6 kB/s eta 0:00:01
   ------------------------------ --------- 1.1/1.4 MB 375.6 kB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 380.0 kB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.4 MB 384.3 kB/s eta 0:00:01
   -------------------------------- ------- 1.2/1.4 MB 388.5 kB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.4 MB 394.6 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.4 MB 399.8 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 403.5 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 402.8 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 402.8 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 402.8 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.4 MB 405.5 kB/s eta 0:00:01
   -------------------------------------- - 1.4/1.4 MB 410.8 kB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 415.2 kB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 415.0 kB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

you can refer to this article to find out about apriori and association rule:
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here:
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [2]:
# load the data set ans show the first five transaction
url = "https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv"
df = pd.read_csv(url)
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

In [8]:
# Meratakan dataset menjadi array 1D
df2 = np.ravel(df)

# Mendapatkan set unik dari elemen dataset
set2 = set(df2)

# Daftar urutan yang diinginkan
dataset = ['Bagel', 'Wine', 'Cheese', 'Milk', 'Diaper', 'Meat', 'Eggs', 'Bread', 'Pencil', np.nan]

# Menyusun elemen sesuai urutan yang diinginkan
items = [item for item in dataset if item in set2]

print(items)

['Bagel', 'Wine', 'Cheese', 'Milk', 'Diaper', 'Meat', 'Eggs', 'Bread', 'Pencil', nan]

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [17]:
itemset = set(items)
# encoding the feature
encodedValue = []
for index, row in df.iterrows():
    rowset = set(row) 
    labels = {}
    uncommons = list(itemset - rowset)
    commons = list(itemset.intersection(rowset))
    for i in uncommons:
        labels[i] = 0
    for j in commons:
        labels[j] = 1
    encodedValue.append(labels)

print(labels)

{'Cheese': 0, 'Diaper': 0, 'Pencil': 0, 'Milk': 0, 'Meat': 1, 'Wine': 1, 'Bread': 1, 'Bagel': 1, 'Eggs': 1, nan: 1}

In [18]:
  # create new dataframe from the encoded features
encodeddf = pd.DataFrame(encodedValue)
  # show the new dataframe
encodeddf.head()

   Bagel  NaN  Milk  Meat  Bread  Cheese  Diaper  Eggs  Wine  Pencil
0      0    0     0     1      1       1       1     1     1       1
1      0    0     1     1      1       1       1     0     1       1
2      0    1     1     1      0       1       0     1     1       0
3      0    1     1     1      0       1       0     1     1       0
4      0    1     0     1      0       0       0     0     1       1

In [20]:
# Since, the encoded dataframe consist of the empty column. We will drop the NaN column or u can use the index.
encodeddf = encodeddf.drop(encodeddf.columns[2], axis=1)
encodeddf.head()

   Bagel  NaN  Bread  Cheese  Diaper  Eggs  Wine  Pencil
0      0    0      1       1       1     1     1       1
1      0    0      1       1       1     0     1       1
2      0    1      0       1       0     1     1       0
3      0    1      0       1       0     1     1       0
4      0    1      0       0       0     0     1       1

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products.
For this case study, we will min_support=0.2

In [21]:
#Set threshold value untuk digunakan dalam penghitungan support
from mlxtend.frequent_patterns import apriori, association_rules
freqpurchase = apriori(encodeddf, min_support=0.2, use_colnames=True)
freqpurchase.head(33)

c:\Users\HP\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support             itemsets
0   0.425397              (Bagel)
1   0.869841                (nan)
2   0.504762              (Bread)
3   0.501587             (Cheese)
4   0.406349             (Diaper)
5   0.438095               (Eggs)
6   0.438095               (Wine)
7   0.361905             (Pencil)
8   0.336508         (Bagel, nan)
9   0.279365       (Bread, Bagel)
10  0.396825         (Bread, nan)
11  0.393651        (Cheese, nan)
12  0.317460        (Diaper, nan)
13  0.336508          (Eggs, nan)
14  0.317460          (Wine, nan)
15  0.266667        (nan, Pencil)
16  0.238095      (Bread, Cheese)
17  0.231746      (Bread, Diaper)
18  0.244444        (Bread, Wine)
19  0.200000      (Bread, Pencil)
20  0.200000     (Cheese, Diaper)
21  0.298413       (Cheese, Eggs)
22  0.269841       (Cheese, Wine)
23  0.200000     (Cheese, Pencil)
24  0.234921       (Diaper, Wine)
25  0.241270         (Eggs, Wine)
26  0.200000       (Wine, Pencil)
27  0.212698  (Bread, Bagel, nan)
28  0.219048  (Cheese, Eggs, nan)

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [22]:
assRules = association_rules(freqpurchase, metric="confidence", min_threshold=0.6)
assRules.head(14)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bagel),(nan),0.425397,0.869841,0.336508,0.791045,0.909413,-0.033520,0.622902,-0.147743
1,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650,0.402687
2,(Bread),(nan),0.504762,0.869841,0.396825,0.786164,0.903801,-0.042237,0.608683,-0.176903
3,(Cheese),(nan),0.501587,0.869841,0.393651,0.784810,0.902245,-0.042651,0.604855,-0.178565
4,(Diaper),(nan),0.406349,0.869841,0.317460,0.781250,0.898152,-0.035999,0.595011,-0.160381
5,(Eggs),(nan),0.438095,0.869841,0.336508,0.768116,0.883053,-0.044565,0.561310,-0.190735
6,(Wine),(nan),0.438095,0.869841,0.317460,0.724638,0.833069,-0.063613,0.472682,-0.262869
7,(Pencil),(nan),0.361905,0.869841,0.266667,0.736842,0.847100,-0.048133,0.494603,-0.220499
8,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203,0.469167
9,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754,0.330409
10,"(Bread, Bagel)",(nan),0.279365,0.869841,0.212698,0.761364,0.875290,-0.030305,0.545427,-0.165075
11,"(Bagel, nan)",(Bread),0.336508,0.504762,0.212698,0.632075,1.252225,0.042842,1.346032,0.303578
12,"(Cheese, Eggs)",(nan),0.298413,0.869841,0.219048,0.734043,0.843881,-0.040524,0.489397,-0.208666
13,"(Eggs, nan)",(Cheese),0.336508,0.501587,0.219048,0.650943,1.297767,0.050260,1.427885,0.345815

Provide explanation about __antecedent support__, __consequent support__, __support__, __confidence__, __lift__, __leverage__, __conviction__, __conviction__ and the interpretation from the case above (please use text section)


Berikut adalah penjelasan singkat mengenai istilah-istilah yang digunakan dalam analisis asosiasi:

1. Antecedent Support: Frekuensi transaksi yang mengandung item antecedent (produk pertama dalam aturan asosiasi).

2. Consequent Support: Frekuensi transaksi yang mengandung item consequent (produk kedua dalam aturan asosiasi).

3. Support: Ukuran seberapa sering suatu item atau kombinasi item muncul dalam dataset.

4. Confidence: Kemungkinan item consequent muncul jika item antecedent sudah ada dalam transaksi.

5. Lift: Mengukur seberapa kuat hubungan antara item dibandingkan dengan apa yang diharapkan secara acak. Nilai lebih dari 1 menunjukkan hubungan positif yang kuat.

6. Leverage: Mengukur perbedaan antara seberapa sering item muncul bersama-sama dibandingkan dengan jika mereka muncul secara independen.

7. Conviction: Mengukur kekuatan aturan asosiasi, semakin tinggi nilainya, semakin kuat hubungan antara antecedent dan consequent.

Interpretasi untuk Kasus:
Dalam kasus produk seperti Milk, Bread, dll., ukuran-ukuran ini membantu untuk memahami hubungan antara produk yang sering dibeli bersama, misalnya, berapa banyak kemungkinan Milk dibeli jika Bread sudah dibeli, atau seberapa kuat asosiasi antara produk-produk tersebut